[2018-09-10 12:34] kitblake opened #1 "rchain.coop site needs a good looking 404 page"
The new RChain site needs a good looking, possibly entertaining, 404 page.
Right now it's a traceback, e.g. https://www.rchain.coop/events
@bjornagain @KWattage

[2018-09-10 12:36] kitblake opened #2 "The old /events URL is 404"
On the old RChain site, https://www.rchain.coop/events was a redirect to https://developer.rchain.coop/conference. It's now a 404. Can we create a redirect?
@bjornagain @KWattage @JoshOrndorff

[2018-09-10 14:47] JoshOrndorff opened #3 "Dynamically generate tutorial pages from md files"
The current version of the tutorial is already outdated because I've written more lessons, and incorporated minor to medium fixes that I've heard from users. The latest version lives at https://github.com/joshorndorff/LearnRholangByExample

Ideally we could generate the html pages on the fly similar to how it is done in https://github.com/rchain/rchain/tree/dev/rholang-tutorial

Perhaps my repo (l

[2018-09-10 17:22] JoshOrndorff opened #4 "move blog to be a subdirectory of rchain.coop"
During the marketing standup on 10 September 2018, Suku Roy mentioned that the plan has always been to move the blog that currently lives at blog.rchain.coop to a subdirectory of this website. @bjornagain Can you get in touch with Suku about what this entails?

[2018-09-10 18:43] kitblake commented on #2
This has been fixed.

[2018-09-10 18:43] #2 closed

[2018-09-10 18:49] kitblake commented on #1
@bjornagain "created a very basic error page to hold us over until we have something nicer" https://www.rchain.coop/bob

[2018-09-10 19:00] JoshOrndorff commented on #2
The redirect is nice, and a much needed fix. But isn't info about the conference interesting to a more general audience than developers? Any reason that content should be hosted on developer.rchain.coop rather than the main rchain.coop?

[2018-09-10 19:01] JoshOrndorff opened #5 "Events page should be hosted directly on rchain.coop"
Currently the `/events` page redirects to developer.rchain.coop. As I discussed in https://github.com/rchain/marketing/issues/2 that content is not developer-specific and should be moved to the main rchain.coop.

[2018-09-10 20:12] nashef commented on #5
This is probably possible now. I don't think it actually matters, but I can see it both ways.

[2018-09-12 13:25] JoshOrndorff opened #6 "Hard to find Become a Member button"
![image](https://user-images.githubusercontent.com/2915325/45427821-e2596500-b66d-11e8-902b-b200f4ccad84.png)

[2018-09-12 13:30] JoshOrndorff commented on #6
In addition to "Developer" and "Validator" we could have community member where the CTAs are, "Become a Member", "Join Discord", "Participate in governance"

[2018-09-13 04:03] JoshOrndorff opened #7 "RNode install instructions"
Dror had written up installation instructions for several major platforms. We were unable to get them into the website for the RCon3 launch, so we temporarily linked from https://www.rchain.coop/get-started to https://rchain.atlassian.net/wiki/spaces/CORE/pages/428376065/User+guide+for+running+RNode

Let's get his guides into the site.

For wireframe purposes, I had suggested this a little while b

[2018-09-13 17:25] plantether opened #8 "rchain.coop typos and minor proofreading fixes"
HOME PAGE:
Dependable and Secure for **all** Applications --> Dependable and Secure for **All** Applications

Engage with the Community
... lifting our world up and **affecting** real, positive change, we will help each other flourish. -->
... lifting our world up and **effecting** real, positive change, we will help each other flourish.

[bottom of page]
Ready to **Affect** Change?   -->  Ready t

[2018-09-14 01:04] JoshOrndorff commented on #8
I've corrected these issues in f8f4aa52eb2e2a365c67dc68203aaea314be4895

Regarding the very last one, should we avoid the phrase "decentralized autonomous organization" entirely? That's a buzz word in the smart contract industry. That what DAO and in "the DAO" stands for. Although we are certainly decentralized and an organization, and in some sense autonomous, we aren't the very specific smart-co

[2018-09-17 18:51] JoshOrndorff opened #9 "Replace blue RChain favicon with red favicon on all pages"
This issue was opened by Kevin Watt in the old trello boards

[2018-09-17 18:55] JoshOrndorff opened #10 "RChain.coop GDPR compliance"
rchain.coop needs to be GPDR compliant and inform European users about cookie usage.

Opened by @kitblake in the old trello

[2018-09-17 18:56] JoshOrndorff opened #11 "Make RChain.coop footprint smaller"
Make the size of rchain.coop smaller. The home page has a size of 25mb and a loading time more than 7 sec. (Movie and GIF's)

Opened by Maarten in the old trello

[2018-09-17 18:58] JoshOrndorff commented on #8
Closing because the live site has this fix in place.

[2018-09-17 18:59] JoshOrndorff commented on #8
Oops, no it doesn't. @bjornagain Can you please get these changes live?

[2018-09-17 19:36] JoshOrndorff opened #12 "Greg's quote overruns bounding box"
https://www.rchain.coop/leadership the word "content" in the first line of the quote extends beyond the maroon box that frames it.
![image](https://user-images.githubusercontent.com/2915325/45645724-6016d980-ba8f-11e8-8279-b74146a5a4a2.png)

[2018-09-17 22:02] n10n opened #13 "Link to membership page"
https://member.rchain.coop/ and need somebody to work with Ian and I.

[2018-09-17 22:03] n10n opened #14 "Page for partners"
Need to add to partners in some way.

[2018-09-17 22:19] bjornagain commented on #11
I knocked the gif sizes down by half and ran some compression. According to Chrome the homepage is about 6mb. Before it said 12mb. Wher did you get the 25mb number from? I'll continue to work on optimizations for mobile sizes, so keep this open for now.

[2018-09-17 22:48] bjornagain commented on #12
@JoshOrndorff this is fixed. Please review: https://www.rchain.coop/leadership

[2018-09-17 22:51] bjornagain commented on #13
Where should I put the link?

[2018-09-17 22:52] bjornagain commented on #5
I'll need a mockup for this.

[2018-09-17 22:53] bjornagain commented on #3
I won't have time to work on this for at least a week or two. In the meantime, please update the html files.

[2018-09-18 00:11] JoshOrndorff commented on #12
Looks great @bjornagain . Thanks!

[2018-09-18 00:11] #12 closed

[2018-09-18 00:13] JoshOrndorff commented on #13
I would suggest either:
1. In the Header with {Home, Platform, Community} or under the Community dropdown. Anchor text could be "Members Area" or "Become a Member".

[2018-09-18 00:19] JoshOrndorff commented on #13
If we label it "become a member" it would also solve #6

[2018-09-18 00:49] n10n commented on #13
Replace "Get Started" on the top right to "Join Membership", for now. We don't need two "Get Started" button few inches apart on front page. We need to discuss this more considering we want to provide an integrated experience with "membership" site in coming days.

[2018-09-18 13:17] JoshOrndorff commented on #3
From @kitblake in discord: Preferably broken up into discreet pages, the current content is really a mega-multi-megabyte page. It was a stopgap solution and it's something we should fix.

[2018-09-18 15:18] JoshOrndorff commented on #13
Slightly off topic: Who is @n10n ?

[2018-09-18 15:58] bjornagain commented on #8
These fixes should be up, via Joshy's edits. Please review.

[2018-09-18 17:17] JoshOrndorff commented on #8
Looks good to me. Closing.

@plantether Review and reopen if you like.

[2018-09-18 17:17] #8 closed

[2018-09-18 17:28] JoshOrndorff opened #15 "Expand the leadership page"
The current https://www.rchain.coop/leadership page only lists
* Greg
* Kate
* Evan
* Kenny
* Patrick

Presumably it include at least the entire current board.

It could possibly include Nash, Mike, Medha, Vlad, etc as they are thought leaders and decision makers to some extent even though their title in the coop is only "member".

Some relevant discussion from Discord
![image](https://user-images

[2018-09-18 17:30] luigidemeo commented on #15
Completely agree that we need the thought leaders from RChain listed on the website. Nash, Mike, Vlad need to be there.

[2018-09-18 17:44] JoshOrndorff commented on #14
@n10n I'm not clear what you're looking for here. What partners do you want to talk about? Can you suggest where that material might fit on the website?

Is this related to the discussion in #15 ?

[2018-09-18 17:47] JoshOrndorff commented on #15
Perhaps the page could have two sections, "Coop Leadership" where we have the 5 current items, plus the board, exec committe, whomever else,

And "Community Leaders" or something else where we put Mite, Vlad, etc? I don't love that second section title though.

@KWattage Any thoughts?

[2018-09-18 19:44] #9 closed

[2018-09-18 20:28] dckc opened #16 "password in web site source code"
https://github.com/rchain/marketing/blob/1876e0a8653b784951aab9ca7a4881bb0f2a06bd/websites/rchain.coop/controllers/newsletter.js#L26

[2018-09-18 20:33] dckc opened #17 "blog category just for weekly debrief items"
Please collect these in a blog category:

https://blog.rchain.coop/rchain-update-94-feedback-from-rcon3/
https://blog.rchain.coop/rchain-debrief-93-rcon3/
https://blog.rchain.coop/rchain-debrief-92-rcon3-week/
etc.

Perhaps you could make use of this index, which goes back to May 2017
https://github.com/rchain/bounties/wiki/Weekly-Debrief-Index

[2018-09-18 20:37] dckc opened #18 "no anonymous "community" blog items, please"
Most items have real bylines, but some go under an anonymous "community" signature.
for example:
https://blog.rchain.coop/rchain-debrief-93-rcon3/

Please fix.

cc @Viraculous

see also https://github.com/rchain/bounties/issues/896

[2018-09-18 20:38] dckc commented on #4
Any particular reason for this? What's wrong with https://blog.rchain.coop/ ?

[2018-09-18 21:02] bjornagain commented on #10
The site doesn't currently collect any data, outside of the email address for newsletter signup, and we aren't using any cookies. What should the site say about cookie usage?

I actually just noticed that we don't have links set up in the footer for 'privacy', 'terms and conditions'. Does anyone one have those links?

[2018-09-18 21:04] bjornagain commented on #18
If this request is for a change to the blog, I don't think it belongs here. This repo is for rchain.coop.

[2018-09-18 21:05] bjornagain commented on #17
Is this a request for a change to the blog, or rchain.coop?

[2018-09-18 21:27] bjornagain commented on #16
Good catch. Password has been changed.

[2018-09-18 21:36] dckc commented on #17
to the blog, I guess.

It's a request for a tag or category or whatever where I can find all and only the weekly debrief items.

[2018-09-18 21:38] bjornagain commented on #17
This repo is just for rchain.coop. Try reaching out to Suku on Discord to see about blog changes.

[2018-09-18 21:39] dckc commented on #18
really? It's called "marketing" and it has elearning and branding and other stuff. The README says:

[2018-09-18 21:41] dckc commented on #16
I see a change in the source code; I trust the database password has also been changed, since `!32admin55` is still in the history.

[2018-09-18 21:41] #16 closed

[2018-09-18 21:47] bjornagain commented on #18
yep, really. The blog is not currently located in this repo, and as far as I know nobody who works on the blog is looking at these issues.

[2018-09-18 21:50] bjornagain commented on #13
Should i implement @n10n's suggestion?

[2018-09-19 02:17] Viraculous commented on #18
@dckc Thanks, will get that fixed.

[2018-09-19 03:12] JoshOrndorff opened #19 "Make READMEs valuable"
The main readme in the root directory does not make it clear what the scope of this repo is yet as evidenced in #17 . Admittedly we haven't discussed that much yet, so for now I propose that this repo host rchain.coop, and new assets that the marketing team creates and don't already have other homes.

I'll probably update the README later this week, so I'm wide open to discussion in the meantime.

[2018-09-19 03:17] JoshOrndorff commented on #17
We haven't used this issue queue for things other than the website so far, although we will for other assets in the future. Let's ping @plantether here so she can think about that blog category too.

[2018-09-19 03:17] #17 closed

[2018-09-19 04:02] plantether commented on #17
@dckc Done.

[2018-09-20 06:37] JoshOrndorff commented on #6
There has been support for adding this button in discord. @KWattage and I agree it is too hard to find the join button.

@bjornagain Can we move forward with implementing at least a button up top in the short term?

I also like the idea of adding the third tab. It could be title community member and the bullets could be
* Join the coop
* Participate in discord discussion
* Get some tokens (optiona

[2018-09-20 06:53] JoshOrndorff commented on #10
That's excellent news and will be attractive to the libertarians in the crypto space. We should let people know we don't use cookies or spy on them. I've always liked the JAXX privacy policy which starts with "privacy is a human right ans software should help protect your rights".

On the other hand does the blog count as part of the website? It certainly would if we do #4 )I believe they do use g

[2018-09-20 06:53] JoshOrndorff commented on #10
@KWattage Can you draft something up for privacy policy? Do we really need terms and conditions? I vote no.

[2018-09-20 16:15] plantether commented on #10
@JoshOrndorff That's true, We do use cookies and spy on people using GA. There is an action item to add the notice to the blog.  The blog will soon live on the main rchain.coop site. @KWattage are there plans to use GA for rchain.coop in general?

[2018-09-20 16:18] bjornagain commented on #7
@JoshOrndorff
Okay. Dror gave me this doc to use: https://docs.google.com/document/d/1rVmBDRL8hpAj5HoXIdnDFViVXK6M-BCshKpBGJ5bh38/edit#heading=h.mbmh4dbkme60

So my plan will be to basically move this doc into html, but I'll add the functionality to select OS. Does that work?

[2018-09-20 18:48] JoshOrndorff opened #20 "Front page text doesn't highlight RChain's value propositions"
**A Complete System**  This text could describe be on any blockchain project's website

We should be sure to cover RChain's three real value add's:
1. Concurrency for Visa + Facebook throughput
2. Formal verification to avoid the DAO bug
3. Proof of stake for better environmental footprint

[2018-09-20 20:34] kitblake commented on #5
@Andrekuipers Could you make a wireframe that lays out the page content?

[2018-09-20 20:45] JoshOrndorff commented on #7
Alex said in email that she can get a mockup on Monday after her vacation. But if you're ready, @bjornagain , don't hesitate. Let's make it happen. What are your thoughts on embedding the video https://www.youtube.com/watch?v=8AMXNzAPi9I ?

[2018-09-20 21:13] JoshOrndorff commented on #13
@bjornagain I'm assigning this to you. Code it up as you see best fit. We trust your judgement.

I'm fine taking @n10n 's suggestion or adding it to the top bar. I agree that this is urgent. It's hard to figure out how to join.

[2018-09-20 23:26] kitblake opened #21 "Evaluate and rethink the rchain.coop site"
tl;dr: We need to evaluate and rethink what we want to achieve with the main website. The content is improving but the presentation is lackluster and needs an overarching concept.

A lot of people worked hard to get the new rchain.coop site up and running before RCon3. Kudos to all involved. We needed to get it made and we did.

Now that it's up, I'm thinking – and hearing – that it falls short. T

[2018-09-21 07:28] Andrekuipers commented on #5
@kitblake Yeah of course

[2018-09-21 10:05] pmoorman commented on #21
@kitblake couldn't agree more, and I think almost everyone would agree here.

@KWattage and I decided 2 months ago to split the work into a "design" and a "content" track, which I think we should maybe maintain, and possibly expand with a "technical" track (e.g. page load speeds, etc.).

From my perspective, the main thing that's blocking me is from working on this more actively is that it's uncle

[2018-09-21 20:06] KWattage commented on #21
Monday or Tuesday evening pacific time works for me and should hopefully
work for the European crew too.

Couple thoughts-

I think what would be beneficial for the community is a working plan of
record. Due to our nature, we have conversations going on in many, many
forums, and no source of truth to refer to for a current and consolidated
view. I will take responsibility for building this, and yo

[2018-09-22 11:30] pmoorman commented on #21
@JoshOrndorff @KWattage Monday night would work excellently for me. I'm 2 hours ahead of @kitblake so for me something like **Monday 9pm or 10pm Pacific** would work well, but if Kit wants to join we might want to push it a little later if that still works for everyone in the US.

**Shall we do 10pm Monday night?**

@JoshOrndorff if you send me your email I'll send you a calendar invite, and @kitb

[2018-09-22 15:43] ddayan opened #22 "Uploading ID on membership signup"
Upload fails multiple times.
Users don't have guidelines on which formats and file names are supported (e.g. no spaces allowed)

[2018-09-22 17:39] pmoorman commented on #22
Unfortunately, this is a known bug for a loooong time already.

The problem is mostly that these issues live not on the `website` or the `member-site`, but in the KYC app. We can solve this the "real way" by fixing it there, or maybe find workarounds by providing at least a wiki page or some other resource with clear guidelines on what you need to do if your upload fails.

For now, I would suggest

[2018-09-22 17:57] JoshOrndorff commented on #22
I totally agree that we should bring the onboarding inline with the website. That's why I added that label.

@pmoorman where does the code for the kyc app live?

On September 22, 2018 1:39:03 PM EDT, pmoorman <notifications@github.com> wrote:

[2018-09-22 18:00] ddayan commented on #22
I heard that there's a working group that is going to suggest changes to bring on boarding to the new site. This issue is more about the current site, let's not wait months until the website is updated to fix something that could be fixed in a day.

[2018-09-22 19:01] Ojimadu commented on #22
I think it's a simple problem to fix and it's very frustrating for user. I noticed that most of the errors while uploading KYC details comes from having spaces in the name of the file.

[2018-09-22 21:44] dckc commented on #22
@pmoorman writes:

Yeah; at least as far back as the March 2 [executive committee](https://www.gov.rchain.coop/executive-committee) meeting.

@JoshOrndorff writes:

Latest news I can find is a [Jun 30 comment][kb] from @kitblake:

[kb]: https://github.com/rchain/bounties/issues/595#issuecomment-401557405

[2018-09-23 05:00] pmoorman commented on #22
@ddayan do you know which people that working group is composed of? Or at least someone to contact?

@JoshOrndorff what I think we could do as a first step to bring onboarding in line with the website, is provide a sort of "sales page" of sorts that people go to before they enter the KYC. That page could provide motivation (by telling people why it's a good idea to become a member), and also tell

[2018-09-24 15:38] pmoorman commented on #21
@KWattage can you confirm attendance for the meeting tomorrow / tonight?  (Monday 10pm Pacific)

From Joshy & Dror I have confirmation.

[2018-09-24 16:18] KWattage commented on #21
Cool, yes I just rsvp’d. Thanks for setting this up!

From: pmoorman
Sent: Monday, September 24, 2018 8:39 AM
To: rchain/marketing
Cc: Kevin W; Mention
Subject: Re: [rchain/marketing] Evaluate and rethink the rchain.coop site(#21)

@KWattage can you confirm attendance for the meeting tomorrow / tonight? (Monday 10pm Pacific)
From Joshy & Dror I have confirmation.
—
You are receiving this because y

[2018-09-24 22:15] bjornagain commented on #13
@JoshOrndorff  @n10n
The nav button now says 'Join Membership' and links to the member site signup page.

[2018-09-25 03:48] #13 closed

[2018-09-25 05:42] JoshOrndorff commented on #4
I'm closing this because there hasn't been any followup.

[2018-09-25 05:43] JoshOrndorff commented on #14
Haven't heard anything back about this, so I'm closing it as duplicate of #15

[2018-09-25 05:45] JoshOrndorff opened #23 "Join Coop Form makeover"
The form at https://member.rchain.coop/#/sign-up uses the old branding, has an old copyright year, and generally doesn't look very nice.

I've heard there are difficulties changing the kyc app, but don't know what they are. Perhaps we could just put a new frontend that posts to the old place.

[2018-09-25 05:49] #6 closed

[2018-09-25 05:58] JoshOrndorff commented on #4
@KWattage Says this should happen and has been in scope since before RCon3.

[2018-09-25 12:06] pmoorman opened #24 "Change animations/illustrations homepage"
The animations on the homepage are not particularly fitting, and draw immense amounts of attention (to the detriment of the copy next to it). We want to update them to support the content, rather than compete for attention.

Based on our last call, we're seeking out suggestions from selected community members to provide some suggestions for how the illustrations/animations could be taken to the ne

[2018-09-25 12:07] pmoorman opened #25 "Add compelling thumbnail to homepage video"
Nuno pointed out (as I had noticed myself) that the video no the homepage displays as a black screen when it's not playing.

We need to provide a compelling thumbnail, or maybe make it autoplay or something like that.

(@bjornagain could you have a look at this one?)

[2018-09-25 15:56] pmoorman commented on #24
as I said in Discord: no real details here, so far. If you need more details, let me know and I'll do my best to provide some :D

[2018-09-25 16:28] JoshOrndorff commented on #3
@pmoorman suggested this excellent static site tool today https://vuepress.vuejs.org/guide/ He put together a very basic. ([code](https://github.com/pmoorman/learn-rholang/tree/master/docs), [live demo](https://relaxed-keller-a28848.netlify.com/sending-and-stdout.html)).

VueJS allows reading code directly from `.rho` files (https://vuepress.vuejs.org/guide/markdown.html#import-code-snippets) as w

[2018-09-26 05:48] pmoorman commented on #3
@JoshOrndorff just for the sake of clarity: it's hosted now "on our own" but I wouldn't recommend we keep it that way. We should create a Netlify account for the coop, and have the coop host it's own stuff.

That wouldn't be hard to do at all.

[2018-09-26 16:50] derekberes commented on #15
There were some comments about this on Discord, and I fully agree: the Board should be listed on the site. Also, I've put forward a request for better photos of the leadership team; seeing that across the board would be wonderful. Reflective's team page looks pro and makes for a nice blueprint that we can follow.

[2018-09-26 17:19] JoshOrndorff commented on #15
I'm assigning this to @derekberes . In email he wrote:

When we get the photos we can assign this to me or Steve to code up.

[2018-09-26 17:20] JoshOrndorff commented on #15
Guess I can't officially assign to Derek. Looking forward to that content anyway.

[2018-09-26 17:40] derekberes commented on #15
I mentioned the photos in a call with Lilia again yesterday, I'll reach out and see what the status of that is. And yes, I'll have the portfolio company page complete by the weekend. Thanks!

[2018-09-26 18:19] JoshOrndorff opened #26 "Page for Portfolio companies"
Greg M and Derek Beres agreed during the debrief today (26 September 2018) to include a page listing the portfolio companies.

[2018-09-26 19:05] bjornagain commented on #25
@pmoorman I set it to autoplay. If you prefer a thumbnail just get me the image to use and I'll make the change.

[2018-09-26 19:05] JoshOrndorff opened #27 "Info about testnet on homepage"
During the debrief, Fabian suggested that we should promote testnet on the home page.

I don't think this is a good idea until testnet is upgraded to node 0.7. We don't have a name registry, validator bonding, or reasonable throughput yet. Let's delay this for two weeks.

[2018-09-26 19:07] bjornagain commented on #24
For the meantime, should I knock down the size of the gifs for desktop sizes? I think it would look better and it will lower the page size.

[2018-09-26 19:39] PatrickM727 opened #28 "Populate co-op information page"
https://www.rchain.coop/coop-information-1/ is a 404 and shows for "rchain coop" and "rchain cooperative"

when we have time we should build out co-op information page

[2018-09-26 20:22] n10n commented on #14
We need to include, three main partners Pyrofex, Pithia and Reflective in the first part and then include portfolio companies that are signed by Pithia and Reflective to built their product on the top of RChain.

This page should include a bit of information about these companies and link and if you can collect some testimonial about why they are working with RChain would be an idea to include the

[2018-09-26 23:27] derekberes commented on #23
@JoshOrndorff I'm going to be working on writing the content for a new landing page for new membership so that prospective members can read about what RChain is before being brought into the sign-up process. This came up during a call with Bill and Ian today. I am aiming to have a draft by the weekend. I'll include you in the email when I pass around, so we can get a more thorough explanation of t

[2018-09-27 02:33] PatrickM727 commented on #21
How did this meeting go?

In general I think a good way to treat this mechanism of suggestion(github issue tracker) is to make each issue one suggestion, make it actionable, and explain the reasoning within the issue.

p.s interested in content work group scoping. lmk

[2018-09-27 02:35] PatrickM727 commented on #27
I'm also concerned with the "funnel" for this.

What are the steps someone has to take to "play with testnet." ?

[2018-09-27 02:37] PatrickM727 commented on #24
@bjornagain I think that's a great start

[2018-09-27 03:09] JoshOrndorff commented on #26
@PatrickM727 I love that idea. What do you think about breaking down the dApps like this?

* Partners
  * Reflective
  * Pithia
  * Pyrofex
  * RChain Europe
  * RChain Asia (asiprational)
* dApps
  * Live on RChain (aspirational, for mainnet launch)
  * Portfolio Companies
  * Examples

[2018-09-27 03:16] JoshOrndorff commented on #21
@PatrickM727 We did have the meeting

@KWattage suggested we classify issues into three categories content, design, and hosting/technical. We all agreed and I created the label in the issue queue. I think this categorizing works nicely with your plan to make issues represent clear actionable suggestions. And also with the workflow you suggested earlier.

We also briefly discussed the rholang tutor

[2018-09-27 04:15] pmoorman commented on #25
At least the black block is gone, so as far as I'm concerned this is done.  :-)

I imagine it might annoy some people that the video autoplays including the sound. **Maybe disable default sound for it?**

[2018-09-27 04:37] AyAyRon-P commented on #24
Hey everyone

Here are some quick imagery suggestions, and possible icon uses instead, I also wanted to include a isometric looking iconography series as well which I will get to tomorrow.

![rchain_web_update_opt2](https://user-images.githubusercontent.com/35570702/46123598-0cba2f00-c1e5-11e8-881e-01f2fdb6ab83.jpg)
![rchain_web_update_opt1](https://user-images.githubusercontent.com/35570702/46123

[2018-09-27 09:06] ddayan commented on #7
Hi all,

Can we just have the wireframe placed in the meantime? node 0.7(dev) with bonding will be realised next week and I think we should just prepare the guide to cover all the new validator features. If the html with some placeholders is present I will be able to update it and create a pull request. Does that make sense @JoshOrndorff @bjornagain ?

[2018-09-27 13:44] JoshOrndorff opened #29 "Broken link to pizzaOrder.rho"
There is a link from https://www.rchain.coop/learn-rholang to https://www.rchain.coop/pizzaOrder.rho that doesn't go anywhere. That code was supposed to be inlined.

This will ultimately be fixed if #3 lands, but in the meantime, we should fix this acute issue.

[2018-09-27 13:52] derekberes opened #30 "Newsletter link on develop.rchain.coop has to link to MailChimp account"
If anyone signs up at https://developer.rchain.coop it will not be recorded, as the newsletter goes through the MailChimp account now. Please contact me asap for coding.

[2018-09-27 13:54] derekberes opened #31 "RCon3 still listed on developer.rchain.coop as "in the future""
This page needs to be removed asap: https://developer.rchain.coop/conference and all links in nav bar and on site removed.

[2018-09-27 13:58] derekberes opened #32 "Old logo on member sign-up"
Logo at top of https://member.rchain.coop/#/sign-up needs to be adjusted, as per Girvin.

[2018-09-27 14:09] derekberes opened #33 "Broken code to blog"
The "latest articles" section on this page: https://www.rchain.coop/rchain-cooperative is not listing the latest blog articles; seems to be a few weeks old.

[2018-09-27 14:10] derekberes opened #34 "Instagram logo added to social media"
We are utilizing Instagram more in the coming months for social media campaigns. Would be great to include in our various social media banners. This is our official account: https://www.instagram.com/rchaincooperative/

[2018-09-27 14:12] derekberes opened #35 "Events link on main site goes to RCon3"
Would be fine to file as "previous events," but right now still presents RCon3 as "in the future." A calendar option would be great, so that people understand we have events in the future, such as the Board elections. That way we can have future events and previous events listed, so there is a history of what we've accomplished but people recognize that we have future events.

[2018-09-27 14:21] derekberes opened #36 "Old blue logo still on Coop page"
Near the bottom: https://www.rchain.coop/rchain-cooperative

[2018-09-27 17:40] RCraigSEA commented on #4
I have some necessary add-on items for this project which is mission critical for SEO.  We need to prepare and activate 301 Redirects for ALL blog URLs at the same time the blog.rchain.coop domain is migrated onto www.rchain.coop.  This will preserve all the social links and backlinks that are pointing to the old URLs.  This will also ensure googlebot quickly finds and indexes the new content, whi

[2018-09-27 17:45] bjornagain commented on #3
@JoshOrndorff where this sits on my timeline is partly up to you guys. There are a lot of requests coming in. We're interviewing developers right now so I'm going to have some help in here soon. The new person will be doing most of the work on the site. I also have a lot of other work that isn't related to RChain that I have to prioritize. So, we'll get this done for you, but it will probably be a

[2018-09-27 18:44] bjornagain commented on #29
@JoshOrndorff  this code is now inline. Please review.

[2018-09-27 19:10] bjornagain commented on #7
@ddayan, sure, I've got it partly done. I'll let you know when the html is ready for you to edit.

[2018-09-27 20:09] JoshOrndorff commented on #36
That's actually the new blue blue logo. That blue is one of our secondary colors. If it ended up there, it must have been in the wireframe.

Does anyone know who would actually be responsible for making that change?

[2018-09-27 20:10] JoshOrndorff commented on #29
Thanks :) @bjornagain

[2018-09-27 20:10] #29 closed

[2018-09-27 20:14] derekberes commented on #36
Hey @JoshOrndorff do you have the Girvin guidelines? According to what I'm reading, that blue is part of the "Extended Color Palette," which includes the following instructions: "The extended color palette offers a sophisticated approach to a pop color. These options go well with the RChain primary palette and still carry a premium feel to elevate the brand. These colors should be used as CTA butt

[2018-09-27 20:41] JoshOrndorff commented on #25
My preferences in order are:

1. Don't autoplay, but use this thumbnail
![image](https://user-images.githubusercontent.com/2915325/46173414-2eaec280-c274-11e8-9556-20212f257403.png)

2. Do autoplay on mute

3. Do autoplay with sound

4. Black square.

[2018-09-28 17:48] dckc opened #37 "overblown privacy claims"
"Built-in privacy protocols ensure security and data resilience." -- https://www.rchain.coop/platform

I'm not aware of _any_ privacy mechanisms or protocols in RChain, whether built-in or layered on top.

Please remove that or link it to details.

[2018-09-28 18:30] derekberes opened #38 "RSS feed for podcast on blog"
I am launching a podcast dedicated to topics on RChain, most of which are specific to portfolio companies. I need a plugin added to the blog to service this. I've used this free plugin for years and it's great: https://wordpress.org/plugins/seriously-simple-podcasting/ I would love this to be live by mid-October so that we can get messaging out there asap. I'll also start a Soundcloud page to host

[2018-09-28 23:17] derekberes opened #39 "Portfolio page for main website"
Here is the text and link to logos for all RChain portfolio companies, which should be featured prominently on the homepage and in the navigation bar. Showing that RChain is an ecosystem and not only a platform is important. Please let me know if you have any questions.

https://docs.google.com/document/d/1x26U34Yya5B7Xai8IVrwldTTu8FFJrUlSRp39THS5M0/edit

[2018-09-30 06:05] Ojimadu opened #40 "RChain blog Header not click-able"
The RChain blog header isn't click-able. Ordinarily I suppose there header should be click-able and link to the blog homepage (https://blog.rchain.coop). As it stands now, there's no homepage button on the sidebar and the header is not click-able so the only way to navigate back to the home page is by inputting the address again on the address bar.
@bjornagain? @Andrekuipers?

[2018-10-01 20:05] PatrickM727 opened #41 "Turn off autoplay of Hero video"
Glen made a suggestion to turn off autoplay of the hero video incase people are in more private settings(cough cough day jobs)

[2018-10-01 20:08] glenbraun opened #42 "Mute sound, or suppress auto-play, for video on main page of rchain.coop"
A visitor to rchain.coop will hear a stream of audio immediately upon vising the page. This is probably not something people who visit the page from a less than private (like work) location. Mute the sound, or stop the auto-play.

[2018-10-01 20:10] #41 closed

[2018-10-01 20:10] PatrickM727 commented on #41
issued closed and reopened as #42

[2018-10-01 20:48] kitblake commented on #40
This has been fixed by @Andrekuipers.

[2018-10-01 20:48] #40 closed

[2018-10-01 21:45] bjornagain commented on #42
@glenbraun  @PatrickM727  I have muted the video, but it still autoplays.

[2018-10-02 12:45] kitblake commented on #35
This could be merged with #5. Your call @derekberes..

[2018-10-02 22:59] KWattage commented on #31
@bjornagain Can you please edit the https://www.rchain.coop/rchain-cooperative page and remove the events column and content from the table at the bottom? It's a priority for us.

We will be creating a new events page instead.

[2018-10-03 00:12] JoshOrndorff opened #43 "Make the technical roadmap look presentable"
The timeline that is viewable at https://rchain.github.io/marketing/technicalRoadmap/ contains important information about timelines for each of the projects we're running the data is stored as json at https://github.com/rchain/marketing/blob/master/technicalRoadmap/roadmap.json

People in the community would like to view that content, and at some point it may even be nice to integrate it into rch

[2018-10-03 22:52] dckc opened #44 "RChain platform is complete?!?!?!"
"RChain is a complete blockchain platform for distributed applications." -- https://www.rchain.coop/platform

We're not even to Mercury, let alone Earth when the platform is expected to be complete, right?

[2018-10-04 10:27] Ojimadu opened #45 "Fix https certificate on member site."
The security certificate for the [member site](member.rchain.coop) just expired on 03/10/18 and needs to be updated.

@kitblake

[2018-10-04 11:20] pmaojo commented on #43
Hi! Roadmap link is broken. I'd like to see it in order to make a proposal.

[2018-10-04 13:48] David405 commented on #45
@Ojimadu please update the link you provided

[2018-10-04 16:29] #45 closed

[2018-10-04 16:29] JoshOrndorff commented on #45
The relevant people, fixed this.

[2018-10-04 16:33] JoshOrndorff commented on #43
@pmaojo I've updated the links. Sorry about that, we changed a path last night. This is a design and implementation task.

[2018-10-05 15:14] kitblake commented on #45
Thanks to the relevant people, and @Ojimadu for the nudge.

[2018-10-06 04:22] JoshOrndorff opened #46 "Official description of the bounty system"
The bounty system is currently described in a series of [github documents](https://github.com/rchain/bounties) that are not easy to find for newcomers. We should be actively inviting newcomers to start working in the ecosystem by promoting an approachable understandable bounty system. The website is a place people will look for that kind of information.

[2018-10-07 16:37] kitblake commented on #21
I applaud the move to divide issues into content, design, and hosting/technical. In a well implemented web infrastructure these categories are isolated and managed separately. I.e. @KWattage and @pmoorman created content. That content can be housed in different presentations. Right now we're serving with react.js, but the same content and design can be hosted on many web platforms.

On a code leve

[2018-10-07 17:28] kitblake commented on #46
At the RChain Gov Conf in February a working group was formed to build a Members Site. The group built it: https://coop-member-v1.rchain.me/

The site had been approved all the way up but then it got blocked. The problem was the bounties page, which (directly quoting @JoshOrndorff ;) was "inviting newcomers to start working in the ecosystem". The Coop was uneasy about the environment. The history

[2018-10-07 17:36] kitblake commented on #36
Looks like this has been fixed, closing.

[2018-10-07 17:36] #36 closed

[2018-10-07 17:48] kitblake commented on #44
'Complete' is a loaded word in mathematics. How about with replacing it with 'consistent'? :)
(Sorry, just joking, ref. Gödel's incompleteness theorems)

Real suggestion: replace 'complete' with 'replete'.

[2018-10-07 17:52] kitblake commented on #32
This is done (can be better but that goes way off topic).

[2018-10-07 17:52] #32 closed

[2018-10-07 17:56] kitblake opened #47 "The https://www.rchain.coop/rchain-cooperative page is 404"
This path has been in use, and is probably indexed in search engines, but now it 404s.

If it's meant to be gone we should create a 301 redirect (Moved Permanently) for SEO.

[2018-10-07 17:58] kitblake commented on #28
We should create a 301 Redirect (Moved Permanently) for search engines.

[2018-10-07 17:59] kitblake commented on #28
We should create a 301 redirect (Moved Permanently) for SEO.

[2018-10-07 18:03] kitblake commented on #22
The contact person for the Membership signup app is @ian-bloom.

It's not a simple thing to fix and we should probably just live with it until the next gen app lands.

[2018-10-07 18:09] kitblake opened #48 "Make the logo in the header a link to home"
The RChain logo should be a clickable link to home as per standard practice.

[2018-10-07 18:11] kitblake commented on #42
Closing, reopen if the video shouldn't autoplay (+1).

[2018-10-07 18:11] #42 closed

[2018-10-07 18:13] kitblake commented on #25
I second the motion to do number 1.

[2018-10-07 20:03] dckc commented on #44
I'm not using "complete" in a math sense. Just in the ordinary sense of a house or a sculpture.

[2018-10-08 00:09] JoshOrndorff commented on #22
This is the first I'm hearing of the next gen app. Are there any details or formal plans?

On October 7, 2018 2:03:18 PM EDT, kitblake <notifications@github.com> wrote:

[2018-10-08 05:59] kitblake commented on #22
Last I heard it was on Deanna's desk, but today, idk.

ChrisB from LifeID is keenly interested in providing a solution, maybe check status with him.

[2018-10-08 19:04] derekberes opened #49 "Change Tesloop description on Portfolio page"
On this page: https://www.rchain.coop/portfolio

please change the description of Tesloop to the following, as per the founder's request:

Tesloop is building Carmiq, a connected car community and data-driven services marketplace.

Thank you.

[2018-10-09 19:10] derekberes opened #50 "Board of Directors for Leadership page"
Please add the Board of Directors back to the Leadership page at https://www.rchain.coop/leadership. If you have the photos that were associated with each member, as on the old site, you can use them. If not, we can just list the names for now, as they will change with the elections in a few weeks. At the moment it's just important that we have them listed below the current leadership team.

3 Yea

[2018-10-09 19:31] derekberes commented on #38
Closing this as Maarten handled.

[2018-10-09 19:31] #38 closed

[2018-10-09 19:32] derekberes commented on #35
Events link removed for now. New page being requested soon. Closing this.

[2018-10-09 19:32] #35 closed

[2018-10-09 19:32] derekberes commented on #33
Fixed.

[2018-10-09 19:32] #33 closed

[2018-10-09 19:33] derekberes commented on #30
Closing this as we are exploring new newsletter options. Will repost with proper credentials when we have new account set up.

[2018-10-09 19:33] #30 closed

[2018-10-09 19:33] derekberes commented on #39
Added, so closing.

[2018-10-09 19:33] #39 closed

[2018-10-12 03:55] derekberes opened #51 "Video broken on home page of rchain.coop"
Please check on the video on the homepage asap, as it is no longer playing. Thank you.

[2018-10-12 07:47] KWattage commented on #49
It looks like this has been completed

[2018-10-12 07:47] #49 closed

[2018-10-12 16:23] bjornagain commented on #25
@SethPyrofex

[2018-10-12 16:23] bjornagain commented on #51
@derekberes  fixed, closing.

[2018-10-12 16:23] #51 closed

[2018-10-13 16:35] plantether commented on #50
Alexandr Bulkin resigned earlier this year

[2018-10-15 17:40] SethPyrofex commented on #25
@bjornagain @JoshOrndorff @pmoorman Video thumbnail added and autoplay disabled.
https://www.rchain.coop/

[2018-10-15 17:40] #25 closed

[2018-10-16 22:12] dckc commented on #50
dup of #15?

[2018-10-17 07:14] Cryptovideos commented on #24
I can create some clean pro looking animations. convert them to gif thereafter that we can u
pload

[2018-10-17 07:18] Cryptovideos commented on #34
I can create a load of awesome Instagram mtion graphic / video content for the platfrom as well

[2018-10-26 16:08] dckc commented on #4
I see this was done today: https://www.rchain.coop/blog

I have to be careful not to follow that link because it **crashes my machine**. I suppose I'll raise a new issue on that.

[2018-10-26 16:09] dckc opened #53 "blog crashes my machine (Chromebook)"
I tried visiting the blog today; I see it's now at https://www.rchain.coop/blog (as noted in #4).

It **crashes my machine**.

It happened to @TrenchFloat too (also on a Chromebook).

[2018-10-26 16:22] dckc opened #54 "blog gets F on performance report"
| PageSpeed Score | Fully Loaded Time | Total Page Size | Requests |
| --------- | --------- | --------- | --------- |
| F (32%) | 18.9s  | 9.7MB  | 310 |

[GT Performance Report for: https://www.rchain.coop/blog](https://gtmetrix.com/reports/www.rchain.coop/kSGzfbkk)

[2018-11-01 21:36] dckc commented on #15
Good news: the whole board is on https://www.rchain.coop/team

Bad news: https://www.rchain.coop/leadership has gone 404.

[2018-12-06 20:32] buttererror commented on #43
@JoshOrndorff Is this issue still opened??

[2018-12-09 07:59] JoshOrndorff commented on #43
No, it's not. Thanks for asking.

[2018-12-09 07:59] #43 closed